/Binaries/
/Intermediate/
/DerivedDataCache/
/Saved/
*.generated.h
*.gen.cpp
*.target
.vs/
*.sln
*.vcxproj*
.vscode/compileCommands_*/
.vscode/c_cpp_properties.json
*.dll
*.pdb
*.lib
*.exp
*.obj
Thumbs.db
.DS_Store
